@import "./animation-elements.css";
@import "./buttons.css";
@import "./containers.css";
@import "./fonts.css";
@import "./texts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  margin-left: 15px;
}

#spinner:hover {
  animation: rotate 3s infinite linear;
}

pre {
  color: #ffffff;
  white-space: pre-wrap;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

@keyframes jump {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-down {
  0% {
    transform: translateY(-10px);
    opacity: .4;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-back {
  0% {
    transform: translateX(-40px);
    opacity: .4;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}